:coffeescript
    $ ->
        $('#unlocked').hide()
        paper = Utility.paperSetup('spin-to-unlock')
        animate = (options, animationHandler)->
            def = { duration: 1000}
            options = _.extend def, options
            frames = _.range(0, options.duration, 33.33)
            _.each frames, (frame, i)->
                p = i/(frames.length - 1)
                animationHandler(p, frame)
        
        fadeOutAnimation = (options)->
            animate options, (p, frame)->
                f = ->
                    options.path.opacity = 1-p
                _.delay f, frame
                
        blinkAnimation = (options)->
            animate options, (p, frame)->
                f = ->
                    op = 0.5 * (1 + Math.cos(Math.PI * 2 * p))
                    options.path.opacity = op
                _.delay f, frame
        
        classify_window = (tw)->
            diff = 0
            _.each tw, (sample, i)->
                if i == 0 then return
                previous = tw[i - 1]
                diff = diff + (sample - previous)
            if Math.abs(diff) > 100
                $('#spin-to-unlock').trigger("spin")
            else
                $('#spin-to-unlock').trigger("spinattempt")
        
        time_window = []
        onSVGLoad = (svg)->
            svg.fitBounds(paper.view.bounds.expand(-100))
            window.svg = svg
            window.spinner = svg.getItem({name: 'logo-accent'})
            base = svg.getItem({name: 'logo-base'})
            spintext = svg.getItem({name: 'spin-text'})
            spintrack = new paper.Path.Circle
                radius: base.radius
                parent: base.parent
                position: base.position.clone()
            
            spinner.onMouseDown = (event)->
                trackPt = spintrack.getNearestPoint(event.point)

            spinner.onMouseDrag = (event)->
                trackPt = spintrack.getNearestPoint(event.point)
                angle = trackPt.subtract(base.position).angle
                time_window.push(angle)
                spinner.position = trackPt
                if time_window.length > 20
                    classify_window(time_window)
                    time_window = time_window.slice(-10)
                    
            spinOnce = _.once ()->
                console.log "SPINNED"
                fadeOutAnimation
                    path: spintext
                    duration: 500
                fadeOutAnimation
                    path: spinner.parent
                    duration: 700
                $( "#unlocked" ).animate
                    height: "toggle"
                , 1000, ()->
                    console.log "UNLOCKED"
                $('#logo').fadeOut()
                spinAttemptHandler = ()->
                    console.log "UNLOCK UNBOUND"
            spinHandler = ()->
                spinOnce()
                  
                  
              
            spinAttemptHandler = ()->
                console.log "SPIN FAIL"
                blinkAnimation
                    path: spintext
                    duration: 1000
                
            $('#spin-to-unlock').on('spin', spinHandler)
            $('#spin-to-unlock').on('spinattempt', spinAttemptHandler)
                
        paper.project.importSVG "/assets/slide-to-unlock.svg", onSVGLoad
        
:scss
    $background: #00A79D;
    .l1
    {
      font-family : Franklin Gothic Medium;
      font-size : 68px;
      color : #DCFFFA;
      color : rgb(220, 255, 250);
      text-align: center;
      top: 10px;
      position: relative;
    }
    #spin-to-unlock
    {
    //   background-image : url("/assets/slide-to-unlock.png");
      /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
    //   background-repeat : no-repeat;
    //   border: 1px solid black;
      width : 100%;
      height : 100%;
    //   background-size: contain;
      position: relative;
      touch-action: manipulation;
    }

    .bg
    {
      background : $background;
      width : 100%;
      height : calc(100% - 177px);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      
    }
    
    header
    {
      width : 100%;
      height : 177px;
      background: $background url("/assets/header-flag.png");
      background-size: contain;
    }
    
    .screen{
        width: 100%;
        height: 100%;
    }
    #unlocked{
        background: #A31735;
        overflow: hidden;
    }

#unlocked.screen
    .l1 UNLOCKED
#lock.screen
    %header
        #logo.l1 FIDGET
    .bg
        %canvas#spin-to-unlock
        
    
        
