:scss
    $background: #00A79D;
    #logo
    {
      font-family : Franklin Gothic Medium;
      font-size : 68px;
      color : #DCFFFA;
      color : rgb(220, 255, 250);
      text-align: center;
      top: 10px;
      position: relative;
    }
    #slide-to-unlock
    {
      background-image : url("/assets/slide-to-unlock.png");
      /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
      background-repeat : no-repeat;
      width : 301px;
      height : 272px;
      background-size: contain;
      top: 42px;
      position: relative;
    }

    .bg
    {
      background : $background;
      width : 100%;
      height : calc(100% - 177px);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      
    }
    
    header
    {
      width : 100%;
      height : 177px;
      background: $background url("/assets/header-flag.png");
      background-size: contain;
    }
    

%header
    #logo FIDGET
.container.bg
    #slide-to-unlock
        
    
        
