:scss
    #g-mockups-box .g-artboard {
        margin:0 auto;
    }
    #g-mockups-box .g-artboard p {
        margin:0;
    }
    .g-aiAbs {
        position:absolute;
    }
    .g-aiImg {
        display:block;
        width:100% !important;
    }
    .g-aiPointText p { white-space: nowrap; }
    #g-mockups-Artboard_1 {
        position:relative;
        overflow:hidden;
        width: 375px;
    }
    #g-mockups-Artboard_1 p {
        font-family:"FranklinGothic-Medium",arial,helvetica,sans-serif;
        font-size:69px;
        line-height:82px;
        filter:alpha(opacity=100);
        -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity:1;
        letter-spacing:0em;
        text-align:left;
        color:rgb(220,255,250);
        text-transform:none;
        padding-bottom:0;
        padding-top:0;
        mix-blend-mode:normal;
        font-style:normal;
    }
#g-mockups-box.ai2html
    #g-mockups-Artboard_1.g-artboard.g-artboard-v3{"data-min-width" => "375"}
        %img#g-ai0-0.g-aiImg{:src => "/assets/mockups-Artboard_1.svg"}
        #app-title.g-unlock-screen.g-aiAbs.g-aiPointText{:style => "top:10.5956%;margin-top:-45.7px;left:21.6952%;width:214px;"}
            %p FIDGET
