.container-fluid.np
    .col-xs-12.col-sm-6.np
        .panel.panel-primary
            .panel-heading 
                %b
                    Practicum 4
                Mirror, mirror
            .panel-body
                %ul.list-group
                    %li.list-group-item 
                        = link_to illustrator_mockup_path do
                            %b Illustrator 201
                            Mockup (auto Generated)
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to illustrator_mockuphand_path do
                            %b Illustrator 201
                            Mockup (by Hand)
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to illustrator_functional_path do
                            %b Illustrator 201
                            Functional
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                   
                   
            .panel-footer
                CS160 - Intro to UI Design and Development
   